<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<h1>Unicorn</h1>
<%= link_to 'Profile', current_unicorn %>
<div class="dashboard">
    <% @beacons.each do |beacon| %>
        <div class="beacon">
            <span class="location"><%=beacon.location %></span>
            <span class="number"><%=beacon.unicorns.count %></span>
            <% beacon.unicorns.each do |unicorn| %>
                <div class="unicorn">
                    <%= link_to unicorn.name, unicorn %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>